
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
       <div class="sidebar-titulo">
            <span class="titulo">SLACA 2019</span>
        </div>
            <img src="assets/img/logo.png" alt="imagem-chuva">
       
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
         

          <sidebar-item nome="Apresentação"></sidebar-item>
          <sidebar-item nome="Comitês"></sidebar-item>
          <sidebar-item nome="Autores"></sidebar-item>
          <sidebar-item nome="Eixos temáticos"></sidebar-item>
          <sidebar-item nome="Trabalhos " class="item-selecionado"></sidebar-item>
          <sidebar-item nome="Contato"></sidebar-item>
        </ul>

      
       
    </div>
