.sidebar-titulo {
    background-color: orange;
    width: 100%;
    text-align: center;
    padding: 17px;    
}

.titulo {
    font-weight: 700;
    font-size: 30px;
    color: white;   
}

.item-selecionado {

    background-color: #FDF1EB;
   
}