.sidebar-titulo {
    background-color: orange;
    width: 100%;
    text-align: center;
    padding: 15px;    
}

.titulo {
    font-weight: bold;
    color: white;   
}

.item-selecionado {

    background-color: #FDF1EB;
   
}