.topico-chuva {
    border: solid 1px;
    background-color: #FDF1EB;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    
    
    
    
}

.assunto {
   color: #ED7839;
   font-weight: bold;
    margin: 10px;
}

.texto {
    margin: 10px;
}

.conteudo {
    margin: 10px;
}

img {
    margin: 10px;
}